// Font-family
$heading: 'Jost', sans-serif;
$body:  'Jost', sans-serif;

$fs-base: 16px;

// Title Color
$title-color: rgb(255, 255, 255);

// Essential Colors
$base-color: #f7893f;
$gradient-one: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
$gradient-one-rev: linear-gradient(180deg, #FF03FC 0%, #F7553F 100%);
$gradient-two: linear-gradient(0deg, #F7553F 20%, #F68738 100%);

$accent-color: #FF03FC;


$body-color : rgb(243, 243, 243);
$border-color: rgba(247, 249, 253, 0.1);

// $section-bg : #770075;
$section-bg : linear-gradient(20deg, #a804a6, #770075 100%);
$body-bg : linear-gradient(200deg, #a804a6, #770075 100%);

$white : #fff;

$theme-one: #FF3653;
$theme-two: #18D39E;
$theme-three: #0C93D2;
$theme-four: #F6A200;
$theme-five: #09389E;

// color variable for Bootstrap
$primary: #7367f0;
$secondary: #868e96;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$info: #1e9ff2;
$dark: #082032;
$light: #bcc7da;
$muted: #a0a0a0;

