// Font-family
$heading: "Jost", sans-serif;
$body: "Jost", sans-serif;

$fs-base: 16px;

// Title Color
$title-color: rgb(255, 255, 255);

// Essential Colors
$base-color: #ff3e3e;

$gradient-one: #013067;
$gradient-one-rev: #013067;

$accent-color: #ff03fc;

$body-color: rgb(243, 243, 243);
$border-color: rgba(247, 249, 253, 0.2);

$section-bg: #021b39;
$body-bg: #01244e;

$white: #fff;

$theme-one: #ff3653;
$theme-two: #18d39e;
$theme-three: #0c93d2;
$theme-four: #f6a200;
$theme-five: #09389e;

// color variable for Bootstrap
$primary: #7367f0;
$secondary: #868e96;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$info: #1e9ff2;
$dark: #082032;
$light: #bcc7da;
$muted: #a0a0a0;
