@import "./_reset";

/* global css strat */
@import "./_color";
@import "./_bg";

.bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_fixed {
    background-attachment: fixed;
}
a.text-white {
    &:hover {
        color: $base-color !important;
    }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -111;
    &.active {
        z-index: 111;
    }
}
