.pt-60 {
    padding-top: 60px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-120 {
    padding-top: 120px;
}



.pb-60 {
    padding-bottom: 60px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-120 {
    padding-bottom: 120px;
}