.pt-60 {
    padding-top: clamp(30px, 5vh, 60px);
}
.pt-50 {
    padding-top: clamp(25px, 5vh, 50px);
}
.pt-120 {
    padding-top: 120px;
}



.pb-60 {
    padding-bottom: clamp(30px, 5vh, 60px);
}
.pb-50 {
    padding-bottom: clamp(25px, 5vh, 50px);
}
.pb-120 {
    padding-bottom: 120px;
}