@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #f3f3f3;
    line-height: 1.6;
    font-family: "Jost", sans-serif;
    background: linear-gradient(270deg, #a804a6, #770075 100%);
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f3f3f3;
    transition: all ease .3s;
}

a:hover {
    color: #f7893f;
}

span, sub, sup, a {
    display: inline-block;
}

/* global css strat */
.text--primary {
    color: #7367f0 !important;
}

.text--secondary {
    color: #868e96 !important;
}

.text--success {
    color: #28c76f !important;
}

.text--danger {
    color: #ea5455 !important;
}

.text--warning {
    color: #ff9f43 !important;
}

.text--info {
    color: #1e9ff2 !important;
}

.text--dark {
    color: #082032 !important;
}

.text--muted {
    color: #a0a0a0 !important;
}

.text--base {
    color: #f7893f !important;
}

.text--dark {
    color: white !important;
}

/* background color css start */
.bg--primary {
    background-color: #7367f0 !important;
}

.bg--secondary {
    background-color: #868e96 !important;
}

.bg--success {
    background-color: #28c76f !important;
}

.bg--danger {
    background-color: #ea5455 !important;
}

.bg--warning {
    background-color: #ff9f43 !important;
}

.bg--info {
    background-color: #1e9ff2 !important;
}

.bg--dark {
    background-color: #082032 !important;
}

.bg--light {
    background-color: #bcc7da !important;
}

.bg--base {
    background-color: #f7893f !important;
}

/* background color css end */
.theme-one {
    color: #FF3653 !important;
}

.theme-one-bg {
    background: #FF3653 !important;
}

.theme-two {
    color: #18D39E !important;
}

.theme-two-bg {
    background: #18D39E !important;
}

.theme-three {
    color: #0C93D2 !important;
}

.theme-three-bg {
    background: #0C93D2 !important;
}

.theme-four {
    color: #F6A200 !important;
}

.theme-four-bg {
    background: #F6A200 !important;
}

.section-bg {
    background: linear-gradient(20deg, #a804a6, #770075 100%);
}

.body-bg {
    background: linear-gradient(270deg, #a804a6, #770075 100%);
}

.bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_fixed {
    background-attachment: fixed;
}

a.text-white:hover {
    color: #f7893f !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -111;
}

.overlay.active {
    z-index: 111;
}

.pt-60 {
    padding-top: clamp(30px, 5vh, 60px);
}

.pt-50 {
    padding-top: clamp(25px, 5vh, 50px);
}

.pt-120 {
    padding-top: 120px;
}

.pb-60 {
    padding-bottom: clamp(30px, 5vh, 60px);
}

.pb-50 {
    padding-bottom: clamp(25px, 5vh, 50px);
}

.pb-120 {
    padding-bottom: 120px;
}

.ticket-table .lottery-ticket, .pagination, .header-bottom-area, .menu, .result-item {
    display: flex;
    flex-wrap: wrap;
}

.video-button, .how-item__icon, .lottery-number-list li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.video-button::before, .video-button::after, .banner-section::before, .how-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.custom--checkbox label::before {
    transition: all 0.3s;
}

.btn--dark, .btn--dark:hover, .btn-outline--primary:hover, .btn-outline--secondary:hover, .btn-outline--success:hover, .btn-outline--danger:hover, .btn-outline--warning:hover, .btn-outline--info:hover, .btn-outline--light:hover, .btn-outline--dark:hover, .btn-outline--base:hover, .icon-btn, .icon-btn:hover {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
    line-height: 1.3;
    color: white;
    font-family: "Jost", sans-serif;
    word-break: break-word;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: white;
    word-break: break-word;
}

h1 {
    font-size: clamp(36px, 5vw, 64px);
}

h2 {
    font-size: clamp(32px, 5vw, 50px);
}

h3 {
    font-size: clamp(22px, 4vw, 28px);
}

h4 {
    font-size: clamp(20px, 5vw, 24px);
}

h5 {
    font-size: clamp(18px, 5vw, 22px);
}

h6 {
    font-size: 1.125rem;
}

.fw-medium {
    font-weight: 600 !important;
}

.btn,
.cmn--btn {
    color: #fff;
    padding: 12px 35px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
    outline: none !important;
    box-shadow: none !important;
    transition: all ease .3s;
    border-radius: 7px;
    z-index: 1;
}

.btn:hover,
.cmn--btn:hover {
    color: #fff;
}

.btn.btn--lg,
.cmn--btn.btn--lg {
    padding: 13px 35px !important;
    font-size: 22px;
}

@media (max-width: 991px) {
    .btn.btn--lg,
  .cmn--btn.btn--lg {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .btn.btn--lg,
  .cmn--btn.btn--lg {
        font-size: 18px;
    }
}

.btn.btn--md,
.cmn--btn.btn--md {
    padding: 8px 25px !important;
    font-size: 15px;
}

.btn.btn--sm,
.cmn--btn.btn--sm {
    padding: 5px 15px !important;
    font-size: 14px;
}

.btn.btn--xs,
.cmn--btn.btn--xs {
    padding: 0px 10px !important;
    font-size: 13px;
}

.cmn--btn {
    position: relative;
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
}

.cmn--btn::before, .cmn--btn::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    transition: all ease .3s;
}

.cmn--btn:hover::before, .cmn--btn.active::before {
    top: -100%;
}

.video-button {
    position: relative;
    font-size: 24px;
    width: 60px;
    height: 60px;
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
    border-radius: 50%;
    display: inline-flex;
    color: #fff;
    z-index: 1;
}

.video-button::before {
    border-radius: 50%;
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
    z-index: -1;
    animation: play-button-two 2s ease-in infinite;
}

.video-button::after {
    border-radius: 50%;
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
    z-index: -1;
    animation: play-button-two 3s ease-in infinite;
    animation-delay: 1.2s;
}

.btn--base {
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
}

.btn--primary {
    background-color: #7367f0;
}

.btn--primary:hover {
    background-color: #5e50ee;
}

.btn--secondary {
    background-color: #868e96;
}

.btn--secondary:hover {
    background-color: #78818a;
}

.btn--success {
    background-color: #28c76f;
}

.btn--success:hover {
    background-color: #24b263;
}

.btn--danger {
    background-color: #ea5455;
}

.btn--danger:hover {
    background-color: #e73d3e;
}

.btn--warning {
    background-color: #ff9f43;
}

.btn--warning:hover {
    background-color: #ff922a;
}

.btn--info {
    background-color: #1e9ff2;
}

.btn--info:hover {
    background-color: #0d93e9;
}

.btn--light {
    background-color: #bcc7da;
}

.btn--light:hover {
    background-color: #acb9d1;
}

.btn--dark {
    background-color: #082032;
}

.btn--dark:hover {
    background-color: #04121c;
}

.btn-outline--primary {
    color: #7367f0;
    border-color: #7367f0;
}

.btn-outline--primary:hover {
    background-color: #7367f0;
}

.btn-outline--secondary {
    color: #868e96;
    border-color: #868e96;
}

.btn-outline--secondary:hover {
    background-color: #868e96;
}

.btn-outline--success {
    color: #28c76f;
    border-color: #28c76f;
}

.btn-outline--success:hover {
    background-color: #28c76f;
}

.btn-outline--danger {
    color: #ea5455;
    border-color: #ea5455;
}

.btn-outline--danger:hover {
    background-color: #ea5455;
}

.btn-outline--warning {
    color: #ff9f43;
    border-color: #ff9f43;
}

.btn-outline--warning:hover {
    background-color: #ff9f43;
}

.btn-outline--info {
    color: #1e9ff2;
    border-color: #1e9ff2;
}

.btn-outline--info:hover {
    background-color: #1e9ff2;
}

.btn-outline--light {
    color: #bcc7da;
    border-color: #bcc7da;
}

.btn-outline--light:hover {
    background-color: #bcc7da;
}

.btn-outline--dark {
    color: #082032;
    border-color: #082032;
}

.btn-outline--dark:hover {
    background-color: #082032;
}

.btn-outline--base {
    color: #f7893f;
    border: 1px solid #f7893f;
}

.btn-outline--base:hover {
    background-color: #f7893f;
}

.btn-shadow--primary {
    box-shadow: 0 0 6px 1px rgba(115, 103, 240, 0.35);
}

.btn-shadow--secondary {
    box-shadow: 0 0 6px 1px rgba(134, 142, 150, 0.35);
}

.btn-shadow--success {
    box-shadow: 0 0 6px 1px rgba(40, 199, 111, 0.35);
}

.btn-shadow--danger {
    box-shadow: 0 0 6px 1px rgba(234, 84, 85, 0.35);
}

.btn-shadow--warning {
    box-shadow: 0 0 6px 1px rgba(255, 159, 67, 0.35);
}

.btn-shadow--info {
    box-shadow: 0 0 6px 1px rgba(30, 159, 242, 0.35);
}

.btn-shadow--light {
    box-shadow: 0 0 6px 1px rgba(188, 199, 218, 0.35);
}

.btn-shadow--dark {
    box-shadow: 0 0 6px 1px rgba(8, 32, 50, 0.35);
}

.btn-shadow--base {
    box-shadow: 0 0 6px 1px rgba(247, 137, 63, 0.35);
}

.btn--capsule {
    border-radius: 99px;
}

.icon-btn {
    width: 1.875rem;
    height: 1.875rem;
    background-color: #f7893f;
    border-radius: 3p;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* button css end */
.badge--primary {
    background-color: rgba(115, 103, 240, 0.15);
    border: 1px solid #7367f0;
    color: #7367f0;
}

.badge--secondary {
    background-color: rgba(134, 142, 150, 0.15);
    border: 1px solid #868e96;
    color: #868e96;
}

.badge--success {
    background-color: rgba(40, 199, 111, 0.15);
    border: 1px solid #28c76f;
    color: #28c76f;
}

.badge--danger {
    background-color: rgba(234, 84, 85, 0.15);
    border: 1px solid #ea5455;
    color: #ea5455;
}

.badge--warning {
    background-color: rgba(255, 159, 67, 0.15);
    border: 1px solid #ff9f43;
    color: #ff9f43;
}

.badge--info {
    background-color: rgba(30, 159, 242, 0.15);
    border: 1px solid #1e9ff2;
    color: #1e9ff2;
}

.badge--light {
    background-color: rgba(188, 199, 218, 0.15);
    border: 1px solid #bcc7da;
    color: #bcc7da;
}

.badge--dark {
    background-color: rgba(8, 32, 50, 0.15);
    border: 1px solid #082032;
    color: #082032;
}

.badge--base {
    background-color: rgba(247, 137, 63, 0.15);
    border: 1px solid #f7893f;
    color: #f7893f;
}

@media (max-width: 767px) {
    .table--responsive--md thead {
        display: none;
    }

    .table--responsive--md tbody tr {
        display: block;
    }

    .table--responsive--md tbody tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid rgba(247, 249, 253, 0.2);
    }
}

@media (max-width: 767px) and (max-width: 991px) {
    .table--responsive--md tbody tr td {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    .table--responsive--md tbody tr td:last-child {
        border: none;
    }

    .table--responsive--md tbody tr td::before {
        text-align: left;
        content: attr(data-label);
        font-family: "Jost", sans-serif;
        font-size: 16px;
        color: white;
        font-weight: 500;
    }
}

@media (max-width: 767px) and (max-width: 575px) {
    .table--responsive--md tbody tr td::before {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .table--responsive--lg thead {
        display: none;
    }

    .table--responsive--lg tbody tr {
        display: block;
    }

    .table--responsive--lg tbody tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid rgba(247, 249, 253, 0.2);
    }
}

@media (max-width: 991px) and (max-width: 991px) {
    .table--responsive--lg tbody tr td {
        font-size: 14px !important;
    }
}

@media (max-width: 991px) {
    .table--responsive--lg tbody tr td:last-child {
        border: none;
    }

    .table--responsive--lg tbody tr td::before {
        text-align: left;
        content: attr(data-label);
        font-family: "Jost", sans-serif;
        font-size: 16px;
        color: white;
        font-weight: 500;
    }
}

@media (max-width: 991px) and (max-width: 575px) {
    .table--responsive--lg tbody tr td::before {
        font-size: 15px;
    }
}

@media (max-width: 1199px) {
    .table--responsive--xl thead {
        display: none;
    }

    .table--responsive--xl tbody tr {
        display: block;
    }

    .table--responsive--xl tbody tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid rgba(247, 249, 253, 0.2);
    }
}

@media (max-width: 1199px) and (max-width: 991px) {
    .table--responsive--xl tbody tr td {
        font-size: 14px !important;
    }
}

@media (max-width: 1199px) {
    .table--responsive--xl tbody tr td:last-child {
        border: none;
    }

    .table--responsive--xl tbody tr td::before {
        content: attr(data-label);
        font-family: "Jost", sans-serif;
        font-size: 16px;
        color: white;
        font-weight: 500;
        text-align: left;
    }
}

@media (max-width: 1199px) and (max-width: 575px) {
    .table--responsive--xl tbody tr td::before {
        font-size: 15px;
    }
}

.table {
    margin: 0;
    border: none;
    width: 100%;
    border-collapse: collapse;
}

.table thead tr {
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
}

.table thead tr th {
    padding: 10px 15px;
    font-family: "Jost", sans-serif;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

.table tbody {
    font-size: 15px;
}

.table tbody tr {
    background: linear-gradient(20deg, #a804a6, #770075 100%);
}

.table tbody tr td {
    color: #fff;
    vertical-align: middle;
    padding: 10px 15px;
    border-width: 1px;
}

@media (min-width: 992px) {
    .table tbody tr td {
        border-color: rgba(247, 249, 253, 0.2);
    }
}

.ticket-table {
    text-align: center;
}

.ticket-table thead tr th {
    font-size: 20px;
}

.ticket-table tbody tr td .name {
    font-size: 16px;
}

.ticket-table tbody tr .price {
    font-size: 24px;
    font-weight: 700;
    color: #f7893f;
}

.ticket-table tbody tr .price sub {
    font-size: 70%;
    bottom: 0 !important;
    font-weight: 400;
}

.ticket-table .lottery-ticket {
    align-items: center;
}

.ticket-table .lottery-ticket .icon {
    width: 70px;
    margin-right: 20px;
}

.ticket-table .lottery-ticket .icon img {
    width: 100%;
}

.form-label {
    font-size: 15px;
}

.form--control {
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(247, 249, 253, 0.2);
    outline: 0;
    box-shadow: none;
    color: #f3f3f3;
}

.form--control:focus {
    color: #fff;
    border: 1px solid rgba(247, 137, 63, 0.6);
    outline: 0;
    box-shadow: none;
}

.form--control[type=file] {
    line-height: 25px;
    padding: 12px 25px;
}

.form--control[readonly] {
    background: rgba(115, 103, 240, 0.05) !important;
}

.form--control[readonly]:focus {
    border-color: rgba(247, 249, 253, 0.2);
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

select.style--dark option {
    color: #363636;
}

.input-group > .form--control,
.input-group > .select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group select {
    background-color: transparent;
    border: none;
}

.custom--radio {
    position: relative;
    padding-left: 0;
}

.custom--radio input[type=radio] {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: pointer;
}

.custom--radio input[type=radio]:checked ~ label::before {
    border-width: 2px;
    border-color: #f7893f;
}

.custom--radio input[type=radio]:checked ~ label::after {
    opacity: 1;
}

.custom--radio label {
    margin-bottom: 0;
    position: relative;
    padding-left: 20px;
    font-size: 0.875rem;
    font-weight: 400;
}

.custom--radio label::before {
    position: absolute;
    content: '';
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #888888;
}

.custom--radio label::after {
    position: absolute;
    content: '';
    top: 8px;
    left: 4px;
    width: 7px;
    height: 7px;
    background-color: #f7893f;
    opacity: 0;
}

.custom--checkbox {
    padding-left: 1.5625rem;
}

.custom--checkbox input {
    display: none;
}

.custom--checkbox input:checked ~ label::before {
    content: "\f14a";
    color: #f7893f;
}

.custom--checkbox label {
    position: relative;
    font-size: 0.9375rem;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 0;
}

.custom--checkbox label::before {
    position: absolute;
    content: "\f04d";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    top: 3px;
    left: -1.5625rem;
    font-size: 1.25rem;
    line-height: 1;
}

/* form css end*/
.custom--card {
    border: 1px solid rgba(247, 249, 253, 0.2);
    border-radius: 5px;
    background: linear-gradient(270deg, #a804a6, #770075 100%);
}

.custom--card .card--header,
.custom--card .card--footer {
    background: linear-gradient(20deg, #a804a6, #770075 100%);
    color: #082032;
    text-align: center;
}

.custom--card .card--header .card-title,
.custom--card .card--footer .card-title {
    color: #fff;
    margin: 0;
}

.custom--card.card--primary .card--header,
.custom--card.card--primary .card--footer {
    background: #7367f0;
}

.custom--card.card--base .card--header,
.custom--card.card--base .card--footer {
    background: #f7893f;
}

.custom--card .card--header,
.custom--card .card--footer {
    padding: 15px 25px;
    border-color: rgba(247, 249, 253, 0.2) !important;
}

@media (max-width: 575px) {
    .custom--card .card--header,
  .custom--card .card--footer {
        padding: 10px 20px;
    }
}

@media (max-width: 575px) {
    .custom--card .card--header,
  .custom--card .card--footer {
        padding: 8px 15px;
    }
}

.custom--card .card--body {
    padding: 25px;
}

@media (max-width: 575px) {
    .custom--card .card--body {
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .custom--card .card--body {
        padding: 15px;
    }
}

.custom--card.card--lg .card--header,
.custom--card.card--lg .card--footer {
    padding: 20px 35px;
}

@media (max-width: 767px) {
    .custom--card.card--lg .card--header,
  .custom--card.card--lg .card--footer {
        padding: 15px 25px;
    }
}

@media (max-width: 575px) {
    .custom--card.card--lg .card--header,
  .custom--card.card--lg .card--footer {
        padding: 10px 20px;
    }
}

@media (max-width: 450px) {
    .custom--card.card--lg .card--header,
  .custom--card.card--lg .card--footer {
        padding: 8px 15px;
    }
}

.custom--card.card--lg .card--body {
    padding: 35px;
}

@media (max-width: 767px) {
    .custom--card.card--lg .card--body {
        padding: 25px;
    }
}

@media (max-width: 575px) {
    .custom--card.card--lg .card--body {
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .custom--card.card--lg .card--body {
        padding: 15px;
    }
}

.custom--card.card--md .card--header,
.custom--card.card--md .card--footer {
    padding: 10px 20px;
}

.custom--card.card--md .card--body {
    padding: 20px 20px;
}

.custom--modal .modal--footer,
.custom--modal .modal--body,
.custom--modal .modal--header {
    border-color: rgba(247, 249, 253, 0.2);
    background: linear-gradient(20deg, #a804a6, #770075 100%);
    border-color: rgba(247, 249, 253, 0.2) !important;
}

.custom--modal .modal--footer .modal-title,
.custom--modal .modal--header .modal-title {
    margin: 0;
    color: white;
}

.custom--modal .modal--footer .btn-close,
.custom--modal .modal--header .btn-close {
    background: transparent;
    font-size: 20px;
    line-height: 1;
    color: #ea5455;
    opacity: 1;
}

.custom--modal .modal-content {
    border: none;
    color: #fff;
    background: linear-gradient(20deg, #a804a6, #770075 100%);
}

.pagination {
    margin: 0;
    margin-top: 55px;
    justify-content: center;
}

@media (max-width: 575px) {
    .pagination {
        margin-top: 30px;
    }
}

.pagination .page-item {
    text-align: center;
    padding: 3px;
}

.pagination .page-item a,
.pagination .page-item span {
    font-weight: 600;
    width: 45px;
    height: 45px;
    color: #f7893f;
    line-height: 45px;
    padding: 0;
    border-radius: 50% !important;
    border-color: rgba(247, 137, 63, 0.1);
    background: linear-gradient(270deg, #a804a6, #770075 100%);
    box-shadow: none;
    outline: 0;
}

.pagination .page-item span {
    border: none;
}

.pagination .page-item.active span,
.pagination .page-item.active a, .pagination .page-item:hover span,
.pagination .page-item:hover a {
    background: #f7893f;
    color: #082032;
    border-color: #f7893f;
}

.pagination .page-item.disabled {
    cursor: no-drop !important;
}

.pagination .page-item.disabled span, .pagination .page-item.disabled a {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    color: white;
}

@keyframes play-button-two {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

@keyframes coin1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: .8;
        transform: translate(0) scale(1) rotate(0);
    }

    100% {
        transform: translate(-30px, -200px) scale(0.7) rotateX(720deg);
        opacity: 0;
    }
}

@keyframes coin2 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: .8;
        transform: translate(0) scale(1) rotate(0);
    }

    100% {
        transform: translate(0px, -250px) scale(0.7) rotateY(720deg);
        opacity: 0;
    }
}

.section-header {
    margin-bottom: clamp(35px, 5vw, 55px);
}

.section-header__title {
    margin-bottom: 15px;
}

.section-header p {
    font-size: 20px;
}

@media (max-width: 767px) {
    .section-header p {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .section-header p {
        font-size: 17px;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
    transition: all ease .3s;
}

.header.sticky {
    background: linear-gradient(0deg, #F7553F 20%, #F68738 100%);
    position: fixed;
    top: 0;
}

@media (max-width: 991px) {
    .header .cmn--btn, .header .btn {
        padding: 8px 20px;
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .header .cmn--btn, .header .btn {
        padding: 8px 16px;
        font-size: 16px;
    }
}

.header-bottom {
    width: 100%;
    padding: 15px 0;
}

@media (max-width: 991px) {
    .header-bottom {
        padding: 10px 0;
    }
}

.header-bottom-area {
    justify-content: space-between;
}

@media (max-width: 991px) {
    .header-bottom-area {
        justify-content: space-between;
    }
}

.logo img {
    max-width: 180px;
    max-height: 60px;
}

@media (max-width: 1199px) {
    .logo img {
        max-width: 160px;
    }
}

@media (max-width: 767px) {
    .logo img {
        max-width: 150px;
    }
}

@media (max-width: 575px) {
    .logo img {
        max-width: 100px;
        max-height: 50px;
    }
}

.menu {
    align-items: center;
    margin: 0;
    position: relative;
}

.menu > .has-sub-menu {
    margin-right: 20px;
}

@media (max-width: 1199px) {
    .menu > .has-sub-menu {
        margin-right: 18px;
    }
}

@media (min-width: 992px) {
    .menu > .has-sub-menu.open .sub-menu {
        display: block !important;
    }
}

.menu .sub-menu li {
    width: 100%;
}

@media (min-width: 992px) {
    .menu .sub-menu {
        display: block !important;
    }
}

.menu li {
    position: relative;
}

.menu li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.menu li.has-sub-menu > a {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu li.has-sub-menu > a::after {
    position: absolute;
    font-weight: 900;
    font-size: 16px;
    font-family: "Line Awesome Free";
    content: "\f107";
    right: 0;
    top: 50%;
    transform: translate(8px, -50%);
    font-size: 14px;
}

.menu li a {
    display: block;
    padding: 4px 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    color: #fff;
    position: relative;
}

.menu li a .badge {
    position: absolute;
    font-weight: 600;
    top: -12px;
    right: -8px;
    font-size: 9px;
    color: #082032 !important;
    border-radius: 3px 3px 3px 0;
    line-height: 0.93;
    padding: 4px 5px 2px;
    z-index: 1;
}

.menu li a .badge::before {
    position: absolute;
    content: "";
    top: calc(100% - 1px);
    left: 0;
    background: #f7893f;
    width: 8px;
    height: 5px;
    clip-path: polygon(0 100%, 0 0, 100% 0);
}

.menu .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
}

@media (min-width: 992px) {
    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0px;
        opacity: 0;
        visibility: hidden;
        min-width: 230px;
        transition: all ease .3s;
        transform: translateY(15px);
        box-shadow: 0 3px 12px 3px rgba(247, 137, 63, 0.1);
        overflow: hidden;
        z-index: 11;
        background: linear-gradient(270deg, #a804a6, #770075 100%);
        border: 3px solid rgba(247, 137, 63, 0.6);
        padding: 10px;
    }

    .sub-menu li {
        padding: 0;
    }

    .sub-menu li:last-child {
        border: none;
    }

    .sub-menu li a {
        font-size: 14px;
        padding: 7px 15px;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-line-clamp: 1;
        color: #082032;
    }

    .sub-menu li a:hover {
        padding-left: 20px;
        background: #f7893f;
    }

    .sub-menu:hover {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .sub-menu .sub-menu {
        visibility: hidden;
        opacity: 0;
        top: 5px;
        left: -100%;
        transform: translateY(20px);
    }

    .sub-menu.has-sub-menu > a::after {
        transform: translate(-20px, -50%);
    }
}

@media (max-width: 991px) {
    .menu > li:nth-last-child(1) {
        border-bottom: none;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px 30px 50px;
        max-height: calc(100vh - 50px);
        min-width: 200px;
        width: 100%;
        visibility: hidden;
        transform-origin: top;
        transform: translateY(-100px) scaleY(0.6);
        opacity: 0;
        overflow-y: auto;
        transition: all ease .3s;
        background: linear-gradient(0deg, #F7553F 20%, #F68738 100%);
    }

    .menu.active {
        opacity: 1;
        transform: translateY(0) scaleY(1);
        visibility: visible;
        z-index: 9999;
        top: 0px;
    }

    .menu .has-sub-menu {
        margin-right: 0;
    }

    .menu .has-sub-menu > a::after {
        transform: translate(-20px, -50%) !important;
    }

    .menu li {
        padding: 3px 0;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .menu li:nth-last-child(1) {
        border-bottom: none;
    }

    .menu li a {
        padding-left: 0;
        color: #fff;
    }

    .menu li.has-sub-menu a::after {
        transform: translate(-20px, -50%) !important;
    }

    .sub-menu {
        display: none;
        padding-left: 25px;
    }
}

.header-trigger-wrapper {
    z-index: 1;
}

.header-trigger {
    cursor: pointer;
    margin-top: -10px;
    z-index: 1;
}

.header-trigger.active span {
    background: none !important;
}

.header-trigger.active span::before {
    transform: rotate(-45deg) translate(-11px, 0px);
    background: #fff;
}

.header-trigger.active span::after {
    transform: rotate(45deg) translate(-11px, 0px);
    background: #fff;
}

.header-trigger span {
    width: 25px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: all ease 0.3s;
}

.header-trigger span::after, .header-trigger span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    background: #fff;
    transition: all ease .3s;
}

.header-trigger span::after {
    bottom: -8px;
}

.header-trigger span::before {
    top: -8px;
}

.banner-section {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
}

@media (max-width: 1399px) {
    .banner-section {
        padding-top: 150px;
        padding-bottom: 80px;
    }
}

@media (max-width: 1199px) {
    .banner-section {
        padding-top: 120px;
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .banner-section {
        padding-top: 220px;
        padding-bottom: 150px;
    }
}

@media (max-width: 575px) {
    .banner-section {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

.banner-section::before {
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
    opacity: .35;
}

.banner-section .container {
    position: relative;
    z-index: 1;
}

.banner-section .shape1 {
    top: 0;
    opacity: .2;
    left: 0;
    max-width: 100%;
}

.banner-content {
    max-width: 650px;
    width: 100%;
}

@media (max-width: 1199px) {
    .banner-content {
        max-width: 550px;
    }
}

@media (max-width: 991px) {
    .banner-content {
        max-width: 550px;
        text-align: center;
        margin: 0 auto 60px;
    }
}

.banner-content .title {
    color: #fff;
    margin-bottom: 25px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .banner-content .title {
        font-size: 48px;
    }
}

.banner-content p {
    color: #fff;
    font-size: 26px;
}

@media (max-width: 1199px) {
    .banner-content p {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    .banner-content p {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    .banner-content p {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .banner-content p {
        font-size: 18px;
    }
}

.banner-content .video-button {
    margin-left: 25px;
}

.banner-thumb {
    width: calc(100% - 650px);
    position: relative;
}

@media (min-width: 1400px) {
    .banner-thumb {
        padding-left: 80px;
    }
}

@media (max-width: 991px) {
    .banner-thumb {
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
    }

    .banner-thumb img {
        width: 100%;
    }
}

.banner-thumb .shape1 {
    bottom: 0;
    right: -50px;
}

@media (max-width: 1399px) {
    .banner-thumb .shape1 {
        right: -200px;
        max-width: 600px;
    }

    .banner-thumb .shape1 img {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .banner-thumb .shape1 {
        right: 0;
        bottom: 50px;
        max-width: 450px;
    }
}

.coins {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
}

@media (max-width: 1399px) {
    .coins {
        right: -100px;
        top: 70px;
    }
}

@media (max-width: 1199px) {
    .coins {
        right: -300px;
        top: 70px;
    }
}

@media (max-width: 991px) {
    .coins {
        display: none;
    }
}

.coin1 {
    animation: coin1 10s ease-in infinite;
}

.coin2 {
    animation: coin2 8s ease-in infinite;
}

.coin3 {
    animation: coin2 5s ease-in infinite;
}

.coin4 {
    animation: coin1 12s ease-in infinite;
}

.coin5 {
    animation: coin2 13s ease-in infinite;
}

.button-wrapper {
    margin: -10px;
}

.button-wrapper .cmn--btn, .button-wrapper .btn {
    margin: 10px;
}

.shape {
    position: absolute;
}

div[class*="col"]:not(div[class*="col"]:last-child) .how-item::after {
    position: absolute;
    content: '';
    right: -24px;
    width: 80%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    background: #f7893f;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    z-index: -2;
    animation: fadeInOne 2s ease-in infinite;
}

@keyframes fadeInOne {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    div[class*="col"]:nth-child(2) .how-item::after {
        top: auto !important;
        right: auto !important;
        left: 5px !important;
        bottom: -24px !important;
        transform: translateY(0) !important;
    }
}

@media (max-width: 767px) {
    div[class*="col"] .how-item::after {
        top: calc(50% + 24px) !important;
        right: 50% !important;
        transform: translate(50%, -38%) !important;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%) !important;
    }

    div[class*="col"] .how-item::before {
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%) !important;
    }

    div[class*="col"] .how-item__icon {
        left: 24px;
        top: 0;
    }
}

@media (max-width: 575px) {
    div[class*="col"] .how-item {
        max-width: 350px;
        margin: 0 auto;
    }
}

.how-section {
    position: relative;
}

.how-section .shape1 {
    left: 0;
    top: 0;
    width: 100%;
    opacity: .3;
}

.how-item {
    text-align: center;
    position: relative;
    padding: 80px 60px;
    z-index: 1;
    height: 100%;
}

@media (max-width: 1399px) {
    .how-item {
        padding: 60px 50px;
    }
}

@media (max-width: 1199px) {
    .how-item {
        padding: 40px 40px;
    }
}

@media (max-width: 991px) {
    .how-item {
        padding: 50px 40px;
    }
}

.how-item::before {
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    z-index: -1;
}

.how-item__icon {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #FF03FC 0%, #F7553F 100%);
    font-size: 44px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 11;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
}

@media (max-width: 1199px) {
    .how-item__icon {
        width: 90px;
        height: 90px;
        font-size: 42px;
    }
}

.how-item__content .serial {
    font-size: 64px;
    text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}

.how-item__content .title {
    margin-bottom: 12px;
}

.ticket-section {
    position: relative;
}

.ticket-section .shape1 {
    top: 0;
    left: 0;
    opacity: .1;
    width: 100%;
}

.ticket-section .container {
    position: relative;
    z-index: 1;
}

.feature-item {
    margin-bottom: 30px;
}

.feature-item:last-child {
    margin-bottom: 0;
}

.feature-item .left-content {
    display: inline-block;
    width: 120px;
    padding-right: 2px;
}

.feature-item .left-content .title {
    color: #f7893f;
    font-size: 32px;
}

.feature-item .left-content .info {
    color: #f7893f;
}

.feature-item .right-content {
    width: calc(100% - 120px);
    border-left: 3px solid #f7893f;
    padding-left: 25px;
}

.choose-item {
    padding: 50px 40px;
    border-radius: 10px;
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
}

.choose-item__icon {
    width: 80px;
    height: 80px;
    margin: 25px 0;
}

.choose-item__icon img {
    width: 100%;
    height: 100%;
}

.lottery-number-list li {
    width: 33px;
    height: 33px;
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
    border-radius: 50%;
    font-size: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 0 3px 7px 3px rgba(247, 137, 63, 0.1);
}

.lottery-number-list li:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.ticket-item .icon {
    width: 50px;
    margin-right: 15px;
}

.ticket-item .icon img {
    width: 100%;
}

.ticket-item .name {
    font-size: 20px;
}

.result-item {
    justify-content: center;
    width: 100%;
}

@media (min-width: 1200px) {
    .result-item {
        flex-wrap: nowrap;
    }
}

.result-item__left {
    text-align: center;
    padding: 25px;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(270deg, #a804a6, #770075 100%);
}

@media (max-width: 767px) {
    .result-item__left {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }
}

.result-item__left .draw-time {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(247, 249, 253, 0.2);
}

.result-item__left .draw-time .time {
    font-size: 20px;
}

.result-item__right {
    background: linear-gradient(0deg, #FF03FC 0%, #F7553F 100%);
    border-radius: 0 10px 10px 0;
    padding: 25px;
}

@media (max-width: 767px) {
    .result-item__right {
        border-radius: 0 0 10px 10px;
        width: 100%;
        text-align: center;
    }
}

.result-item__right .est, .result-item__right .next {
    font-size: 18px;
}

@media (max-width: 575px) {
    .result-item__right .est, .result-item__right .next {
        font-size: 16px;
    }
}

/*# sourceMappingURL=main.css.map */
