.button-wrapper {
    margin: -10px;
    .cmn--btn,
    .btn {
        margin: 10px;
    }
}
.shape {
    position: absolute;
}

// How Section Starts Here
div[class*="col"] {
    &:not(&:last-child) {
        .how-item::after {
            position: absolute;
            content: "";
            right: -24px;
            width: 80%;
            height: 80%;
            top: 50%;
            transform: translateY(-50%);
            background: $base-color;
            clip-path: polygon(
                25% 0%,
                75% 0%,
                100% 50%,
                75% 100%,
                25% 100%,
                0% 50%
            );
            z-index: -2;
            animation: fadeInOne 2s ease-in infinite;
        }
        @keyframes fadeInOne {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
    &:nth-child(2) {
        @include breakpoint(max-lg) {
            @include breakpoint(md) {
                .how-item::after {
                    top: auto !important;
                    right: auto !important;
                    left: 5px !important;
                    bottom: -24px !important;
                    transform: translateY(0) !important;
                }
            }
        }
    }
    @include breakpoint(max-md) {
        .how-item::after {
            top: calc(50% + 24px) !important;
            right: 50% !important;
            transform: translate(50%, -38%) !important;
            clip-path: polygon(
                50% 0,
                100% 25%,
                100% 75%,
                50% 100%,
                0 75%,
                0 25%
            ) !important;
        }
        .how-item::before {
            clip-path: polygon(
                50% 0,
                100% 25%,
                100% 75%,
                50% 100%,
                0 75%,
                0 25%
            ) !important;
        }
        .how-item__icon {
            left: 24px;
            top: 0;
        }
    }
    @include breakpoint(max-sm) {
        .how-item {
            max-width: 350px;
            margin: 0 auto;
        }
    }
}
.how-section {
    position: relative;
    .shape1 {
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0.3;
    }
}
.how-item {
    text-align: center;
    position: relative;
    padding: 80px 60px;
    z-index: 1;
    height: 100%;
    @include breakpoint(max-xxl) {
        padding: 60px 50px;
    }
    @include breakpoint(max-xl) {
        padding: 40px 40px;
    }
    @include breakpoint(max-lg) {
        padding: 50px 40px;
    }
    &::before {
        @extend %position-set;
        background: $gradient-one;
        clip-path: polygon(
            25% 0%,
            75% 0%,
            100% 50%,
            75% 100%,
            25% 100%,
            0% 50%
        );
        z-index: -1;
    }
    &__icon {
        width: 100px;
        height: 100px;
        background: $gradient-one-rev;
        @extend %flex-center;
        font-size: 44px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 20px;
        z-index: 11;
        box-shadow: 0 3px 10px rgba($white, 0.3);
        @include breakpoint(max-xl) {
            width: 90px;
            height: 90px;
            font-size: 42px;
        }
    }
    &__content {
        .serial {
            font-size: 64px;
            text-shadow: 3px 3px 0 rgba($white, 0.3);
        }
        .title {
            margin-bottom: 12px;
        }
    }
}
// How Section Ends Here

// Ticket Section Starts Here
.ticket-section {
    position: relative;
    .shape1 {
        top: 0;
        left: 0;
        opacity: 0.1;
        width: 100%;
    }
    .container {
        position: relative;
        z-index: 1;
    }
}
// Ticket Section Ends Here

// Why Choose Us Section Starts Here
.feature-item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    .left-content {
        display: inline-block;
        width: 120px;
        padding-right: 2px;
        .title {
            color: $base-color;
            font-size: 32px;
        }
        .info {
            color: $base-color;
        }
    }
    .right-content {
        width: calc(100% - 120px);
        border-left: 3px solid $base-color;
        padding-left: 25px;
    }
}

.choose-item {
    padding: 50px 40px;
    border-radius: 10px;
    background: $gradient-one;
    text-align: center;
    &__icon {
        width: 80px;
        height: 80px;
        margin: 25px auto 15px;
        padding-bottom: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
// Why Choose Us Section Ends Here

// Latest Winning Results Section Starts Here
.result-section {
    position: relative;
    .shape1 {
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.15;
    }
    .container {
        position: relative;
        z-index: 1;
    }
}
.lottery-number-list {
    &.style--two {
        li {
            background: $section-bg;
            box-shadow: 0 2px 7px 2px rgba($white, 0.2);
            &.active {
                background: $base-color;
                box-shadow: 0 2px 7px 2px rgba($base-color, 0.55);
            }
        }
    }
    li {
        width: 33px;
        height: 33px;
        @extend %flex-center;
        background: $base-color;
        border-radius: 50%;
        font-size: 15px;
        margin-right: 5px;
        margin-bottom: 5px;
        box-shadow: 0 2px 7px 2px rgba($base-color, 0.55);
        cursor: pointer;
        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}
.ticket-item {
    .icon {
        width: 50px;
        margin-right: 15px;
        img {
            width: 100%;
        }
    }
    .name {
        font-size: 20px;
    }
}
.result-item {
    @extend %flex;
    justify-content: center;
    width: 100%;
    @include breakpoint(xl) {
        flex-wrap: nowrap;
    }
    &__left {
        text-align: center;
        padding: 30px 25px;
        border-radius: 10px 0 0 10px;
        background: $body-bg;
        @include breakpoint(max-md) {
            border-radius: 10px 10px 0 0;
            width: 100%;
        }
        .draw-time {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $border-color;
            .time {
                font-size: 20px;
            }
        }
    }
    &__right {
        background: $gradient-one;
        border-radius: 0 10px 10px 0;
        padding: 25px;
        @include breakpoint(max-md) {
            border-radius: 0 0 10px 10px;
            width: 100%;
            text-align: center;
        }
        .est,
        .next {
            font-size: 18px;
            @include breakpoint(max-sm) {
                font-size: 16px;
            }
        }
    }
}
// Latest Winning Results Section Ends Here

// Winners Section Starts Here
.winner-section {
    position: relative;
    &::before {
        @extend %position-set;
        background: $section-bg;
    }
    .shape1 {
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.15;
    }
    .container {
        position: relative;
        z-index: 1;
    }
}
.winner-slider {
    .single-slide {
        height: 100%;
    }
    .slick-list {
        margin: 0 -10px;
    }
}
.winner-item {
    padding: 50px 30px;
    border-radius: 10px;
    text-align: center;
    background: $gradient-one;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 10px;
    height: 100%;
    .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        opacity: 0.2;
        z-index: -1;
    }
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        aspect-ratio: 1;
        left: 0;
        top: 0;
        transform: translateY(-70%);
        background: $white;
        opacity: 0.15;
        border-radius: 50%;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 70px;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background: url(../images/winner/win.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
    &__thumb {
        width: 120px;
        height: 120px;
        margin: 0 auto 25px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        .win-price {
            sub {
                bottom: 0;
                left: -2px;
                font-weight: 400;
            }
        }
        .name {
            font-weight: 400;
            margin-top: 10px;
            font-size: 20px;
        }
    }
}
// Winners Section Ends Here

// About Section Starts Here
.section-thumb {
    @include breakpoint(max-lg) {
        width: 100%;
        img {
            width: 100%;
        }
    }
}
// About Section Ends Here

// Testimonial Section Starts Here
.testimonial-slider {
    padding: 80px;
    padding-bottom: 100px;
    background: $section-bg;
    position: relative;
    @include breakpoint(max-lg) {
        padding: 50px 40px 70px;
    }
    @include breakpoint(max-sm) {
        padding: 30px 20px 70px;
    }
    .shape1 {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.testimonial-item {
    text-align: center;
    max-width: 920px;
    margin: 0 auto;
    &__thumb {
        width: 150px;
        height: 150px;
        margin: 0 auto 30px;
        @include breakpoint(max-sm) {
            width: 120px;
            height: 120px;
            margin-bottom: 20px;
        }
        @include breakpoint(max-xs) {
            width: 100px;
            height: 100px;
            margin-bottom: 15px;
        }
        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        .name {
            margin-bottom: 5px;
        }
        .winner-of {
            color: $base-color;
            margin-bottom: 15px;
        }
    }
}
// Testimonial Section Ends Here

// Team Section Starts Here
.team-item {
    text-align: center;
    padding: 30px 25px;
    background: $body-bg;
    &:hover {
        .team-item__thumb img {
            transform: scale(1.1);
        }
    }
    &__thumb {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        padding-top: 25px;
        .name {
            margin-bottom: 5px;
        }
        .designation {
            font-size: 15px;
            color: $base-color;
        }
        .social-links {
            margin-top: 10px;
        }
    }
}
// Team Section Ends Here

// Support Section Starts Here
.support-thumb {
    @include breakpoint(max-lg) {
        max-width: 500px;
        margin: 0 auto;
    }
}
// Support Section Ends Here

// Lottery Section Starts Here
.lottery-header {
    padding: 25px 30px;
    background: $body-bg;
    .lottery {
        .icon {
            width: 100px;
            @include breakpoint(max-xs) {
                width: 60px;
            }
            img {
                width: 100%;
            }
        }
        .name {
            @include breakpoint(max-xs) {
                font-size: 16px;
            }
        }
    }
    .lottery-price {
        color: $base-color;
        sub {
            font-size: 60%;
            font-weight: 400;
            bottom: 0;
        }
    }
    .countdown {
        font-size: 18px;
    }
}
.line-wrapper {
    li {
        padding: 5px 15px;
        a {
            padding: 6px 15px;
            display: block;
            text-decoration: underline;
            &.active {
                color: $base-color;
            }
        }
    }
}
.lottery-item {
    background: $body-bg;
    border-radius: 7px;
    &__header {
        text-align: center;
        padding: 20px;
        padding-bottom: 0;
        border-radius: 5px;
        p {
            border-radius: 5px;
            padding: 6px 10px;
        }
    }
    &__body {
        padding: 20px;
        margin: 15px 0;
        .lottery-number-list {
            li {
                margin: 7px;
            }
        }
    }
    &__footer {
        padding: 20px;
        padding-top: 0;
        // background: $section-bg;
        .lottery-number-list {
            li {
                margin: 5px;
            }
        }
    }
}
.lottery-footer {
    padding: 15px 25px;
    background: $body-bg;
    border-radius: 5px;
    font-size: 18px;
}
// Lottery Section Ends Here

// How Play Section Starts Here
.how-play-item {
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    .thumb {
        width: 150px;
        height: 130px;
        margin: 0 auto 30px;
        img {
            width: 100%;
        }
    }
    .title {
        margin-bottom: 15px;
    }
}
// How Play Section Ends Here
.map-wrapper {
    width: 100%;
    height: 450px;
    filter: grayscale(1);
    @include breakpoint(max-md) {
        height: 350px;
    }
    .map {
        height: 100%;
        width: 100%;
    }
}

// Contact Section Starts Here
.contact-info-item {
    @extend %flex;
    align-items: center;
    .icon {
        width: 80px;
        aspect-ratio: 1;
        @extend %flex-center;
        font-size: 26px;
        color: $base-color;
        border-right: 3px solid rgba($base-color, 1.2);
        background: $body-bg;
        border-radius: 7px;
    }
    .content {
        width: calc(100% - 80px);
        padding-left: 25px;
        .title {
            margin-bottom: 12px;
        }
        a {
            display: block;
        }
    }
}
// Contact Section Ends Here

// Privacy Policy Section Starts Here
.privacy-wrapper {
    .title {
        margin-bottom: 15px;
        font-size: 26px;
        @include breakpoint(max-xs) {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
    p {
        margin-bottom: 30px;
        font-size: 17px;
        &:last-child {
            margin-bottom: 0;
        }
        @include breakpoint(max-xs) {
            margin-bottom: 20px;
        }
    }
}
// Privacy Policy Section Ends Here

// Account Section Starts Here
.account-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
    width: 100%;
    overflow: hidden;
    @include breakpoint(max-sm) {
        padding: 50px 20px;
    }
    @include breakpoint(max-xs) {
        padding: 50px 15px;
    }
}
.account-wrappper {
    background: rgba($section-bg, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
}
.account-form-wrapper {
    padding: 50px;
    height: 100%;
    background: rgba($primary, 0.6);
    border-radius: 0 15px 15px 0;
    @include breakpoint(max-sm) {
        padding: 30px 20px;
    }
}
.account-thumb-wrapper {
    padding: 50px;
    @include breakpoint(max-sm) {
        padding: 30px 20px;
    }
}
.account-thumb {
    img {
        width: 100%;
    }
}
.account-switch {
    margin-bottom: 35px;
    text-align: right;
    a {
        color: $base-color;
        font-weight: 600;
        margin-left: 7px;
    }
}
.account-open-options {
    li {
        a {
            padding: 10px 25px;
            display: block;
            border-radius: 25px;
            text-align: center;
            @include breakpoint(max-xl) {
                font-size: 14px;
            } 
            &:hover {
                color: $white;
            }
            &.google {
                border: 1px solid rgba($white, 0.15);
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    font-size: 17px;
                    width: 17px;
                    margin-right: 10px;
                }
            }
            &.facebook {
                background: $facebook;
            }
        }
    }
}
.or {
    display: inline-block;
    position: relative;
    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 75px;
        height: 1px;
        background: rgba($white, 0.15);
        top: 49%;
    }
    &::after {
        right: calc(100% + 25px);
    }
    &::before {
        left: calc(100% + 25px);
    }
}
// Account Section Ends Here
