.table--responsive--md {
    @include breakpoint(max-md) {
        thead {
            display: none;
        }
        tbody {
            tr {
                display: block;
                td {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 15px;
                    border: none;
                    border-bottom: 1px solid $border-color;
                    @include breakpoint(max-lg) {
                        font-size: 14px !important;
                    }
                    &:last-child {
                        border: none;
                    }
                    &::before {
                        text-align: left;
                        content: attr(data-label);
                        font-family: $heading;
                        font-size: 16px;
                        color: $title-color;
                        font-weight: 500;
                        @include breakpoint(max-sm) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
.table--responsive--lg {
    @include breakpoint(max-lg) {
        thead {
            display: none;
        }
        tbody {
            tr {
                display: block;
                td {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 15px;
                    border: none;
                    border-bottom: 1px solid $border-color;
                    @include breakpoint(max-lg) {
                        font-size: 14px !important;
                    }
                    &:last-child {
                        border: none;
                    }
                    &::before {
                        text-align: left;
                        content: attr(data-label);
                        font-family: $heading;
                        font-size: 16px;
                        color: $title-color;
                        font-weight: 500;
                        @include breakpoint(max-sm) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
.table--responsive--xl {
    @include breakpoint(max-xl) {
        thead {
            display: none;
        }
        tbody {
            tr {
                display: block;
                td {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 15px;
                    border: none;
                    border-bottom: 1px solid $border-color;
                    @include breakpoint(max-lg) {
                        font-size: 14px !important;
                    }
                    &:last-child {
                        border: none;
                    }
                    &::before {
                        content: attr(data-label);
                        font-family: $heading;
                        font-size: 16px;
                        color: $title-color;
                        font-weight: 500;
                        text-align: left;
                        @include breakpoint(max-sm) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.table {
    margin: 0;
    border: none;
    width: 100%;
    border-collapse: collapse;
    thead {
        tr {
            background: $gradient-one;
            th {
                padding: 10px 15px;
                font-family: $heading;
                color: $white;
                border: none;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    tbody {
        font-size: 15px;
        tr {
            background: $section-bg;
            td {
                color: $white;
                vertical-align: middle;
                padding: 10px 15px;
                border-width: 1px;
                @include breakpoint(lg) {
                    border-color: $border-color;
                }
            }
        }
    }
}

// Project Table
.ticket-table {
    text-align: center;
    thead {
        tr {
            th {
                font-size: 20px;
            }
        }
    }
    tbody {
        tr {
            td {
                .name {
                    font-size: 16px;
                }
            }
            .price {
                font-size: 24px;
                font-weight: 700;
                color: $base-color;
                sub {
                    font-size: 70%;
                    bottom: 0 !important;
                    font-weight: 400;
                }
            }
        }
    }
    .lottery-ticket {
        @extend %flex;
        align-items: center;
        .icon {
            width: 70px;
            margin-right: 20px;
            img {
                width: 100%;
            }
        }
    }
}
